@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#quiz {
  margin-top: 5%;
}

button {
  display: block;
  width: 300px;
  padding: 10px;
  border: none;
}

#respostas {
  display: flex;
  flex-direction: column;
}

.resposta {
  margin: auto auto;
  margin-bottom: 1%;
  cursor: pointer;
}

.resposta:hover {
  background: rgb(125, 203, 223);
}

.resposta.selecionada {
  background: rgb(84, 199, 228);
}

#pergunta {
  color: white;
}

#verificar {
  margin: auto auto;
  background: #11b411;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#verificar:hover {
  background: green;
}

.errada {
  background: red;
  color: white;
}

.correta {
  background: green;
  color: white;
  animation: piscaCerto 0.5s infinite;
}

@keyframes piscaCerto {
  0%,
  49% {
    background: green;
  }
  50%,
  100% {
    background: seagreen;
  }
}
.oculto {
  display: none;
}
